.video__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 18px;
  max-width: 1184px;
}





  @media screen and (max-width: 730px) {
  .video__container {
    grid-template-columns: minmax(100px, 450px);
    width: 100%;
    grid-row-gap: 6px;
    justify-content: center;
  } 
}  


@media screen and (max-width: 550px) {
  .video__container {
    width: calc(100% - 48px);
  } 
}  

@media screen and (max-width: 376px) {
  .video__container {
    width: calc(100% - 32px);
  } 
}  