.intro__text-right {
  display: flex;
  flex-direction: column;
}

.intro__text-right:last-of-type .intro__text {
  font-size: 10px;
  line-height: 16px;
}


@media screen and (max-width: 925px) {
  .intro__text-right {
    order: -1;
    margin-bottom: 30px;
  }
}