.lead__img-caption {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #fff;
  align-self: flex-start;
  margin: 0;
}


@media screen and (max-width: 376px) {
  .lead__img-caption {
    margin-left: 16px;
  }
}