@import url('../page/__places/page__places.css');
@import url('./__image/places__image.css');
@import url('./__title/place__title.css');
@import url('./__container/places__container.css');
@import url('./__text/places__text.css');
@import url('./__website-container/places__website-container.css');
@import url('./__link-heading/places__link-heading.css');
@import url('./__link/places__link.css');
@import url('./__text-container/places__text-container.css');


.places {
  max-width: 984px;
  color: #fff;
  font-family: 'Inter-Light';
}



@media screen and (max-width: 1025px) {
  .places {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 769px) {
  .places {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 376px) {
  .places {
    width: 100%;
  }
}