.comment__cards {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
}

@media screen and (max-width: 1025px) {
  .comment__cards {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 769px) {
  .comment__cards {
    width: calc(100% - 48px);
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 376px) {
  .comment__cards {
    width: calc(100% - 32px);
  }
}