@import url('./__author-link/footer__author-link.css');
@import url('./__link-list/footer__link-list.css');
@import url('./__link/footer__link.css');
@import url('./__item/footer__item.css');

.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter-Light';
  color: #fff;
}

@media screen and (max-width: 1025px) {
  .footer {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 740px) {
  .footer {
    width: calc(100% - 48px);
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 376px) {
  .footer {
    width: calc(100% - 32px);
  }
}