.video__subtitle {
  font-size: 14px;
  line-height: 15px;
  position: absolute;
  left: 30px;
  bottom: 30px;
  color: #fff;
  z-index: 53;
  margin: 0;
}

@media screen and (max-width: 950px) {
  .video__subtitle {
    bottom: 24px;
  }
}