@import url('../header/__lang/header__lang.css');
@import url('../header/__lang-container/header__lang-container.css');
@import url('../header/__logo/header__logo.css');
@import url('../page/__header/page__header.css');

.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

@media screen and (max-width: 1025px) {
  .header {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 769px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 376px) {
  .header {
    width: calc(100% - 32px);
  }
}