.cover__subtitle {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 382px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  color: #fff;
  font-family: 'Inter-Light';
  z-index: 50;
  
}


@media screen and (max-width: 700px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 17px;
    width: 270px;
  }
}

@media screen and (max-width: 376px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 17px;
    width: 270px;
    bottom: -4px;
  }
}