.video__title {
  font-family: 'Inter-ExtraBold';
  font-size: 36px;
  line-height: 39px;
  position: absolute;
  left: 30px;
  bottom: 61px;
  margin: 0;
  width: 320px;
  color: #fff;
  z-index: 52;
}



@media screen and (max-width: 950px) {
  .video__title {
    font-size: 24px;
    line-height: 26px;
    bottom: 40px;
  }
}

@media screen and (max-width: 420px) {
  .video__title {
    width: 250px;
    font-size: 20px;
  }
}