@import url('../lead/__title/lead__title.css');
@import url('../lead/__subtitle/lead__subtitle.css');
@import url('../lead/__img/lead__img.css');
@import url('../lead/__img-caption/lead__img-caption.css');
@import url('../page/__lead/page__lead.css');

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter-Light';
  max-width: 985px;
}


@media screen and (max-width: 1025px) {
  .lead {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 769px) {
  .lead {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 376px) {
  .lead {
    width: 100%;
  }
}