@import url('./_indent/_bottom/content-title_indent_bottom.css');
.content-title {
  font-family: 'Inter-ExtraBold';
  font-size: 72px;
  line-height: 78px;
  max-width: 800px;
  text-align: center;
  color: #fff;
}


@media screen and (max-width: 769px) {
  .content-title {
    font-size: 42px;
    line-height: 46px;
    max-width: 610px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 376px) {
  .content-title {
    font-size: 32px;
    line-height: 35px;
    max-width: 305px;
    margin-bottom: 16px;
  }
}