@import url('../styles/blocks/page/page.css');
@import url('../styles/common/content.css');
@import url('../styles/blocks/header/header.css');
@import url('../styles/common/is-active.css');
@import url('../styles/common/transparency.css');
@import url('../styles/blocks/lead/lead.css');
@import url('../styles/blocks/intro/intro.css');
@import url('../styles/blocks/cards/cards.css');
@import url('../styles/blocks/places/places.css');
@import url('../styles/blocks/video/video.css');
@import url('../styles/blocks/additional/additional.css');
@import url('../styles/blocks/comment/comment.css');
@import url('../styles/blocks/cover/cover.css');
@import url('../styles/blocks/emblem/emblem.css');
@import url('../styles/blocks/barentsburg/barentsburg.css');
@import url('../styles/blocks/footer/footer.css');


@font-face {
  src: url('../fonts/Inter-ExtraBold.woff') format('woff'),
       url('../fonts/Inter-ExtraBold.woff2') format('woff2');
  font-family: 'Inter-ExtraBold';
  font-style: normal;
  font-weight: 900;
}

@font-face {
  src: url('../fonts/Inter-Bold.woff') format('woff'),
       url('../fonts/Inter-Bold.woff2') format('woff2');
  font-family: 'Inter-Bold';
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url('../fonts/Inter-Regular.woff') format('woff'),
       url('../fonts/Inter-Regular.woff2') format('woff2');
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url('../fonts/Inter-Light-BETA.woff') format('woff'),
       url('../fonts/Inter-Light-BETA.woff2') format('woff2');
  font-family: 'Inter-Light';
  font-style: normal;
  font-weight: 300;
}


